# Exclude pictures and text files
*.png
*.jpg
figures/
*.txt
*.mp4
*.log

# slurm outputs
*.out

# datasets and saved rbms
datasets/
saved_rbms/
*.pkl
*.npz
*.npy
*.gz
*.json

# Python bytecode
*.pyc
